torch~=1.12.1
torchaudio~=0.12.1
torchvision~=0.13.1
torchmetrics~=0.9.3
pytorch-lightning~=1.7.4
scikit-image~=0.19.2
scikit-learn~=1.0.2
pandas~=1.4.2
networkx~=2.7.1
numba~=0.55.1
matplotlib~=3.5.1
wandb~=0.13.2
tensorboardx~=2.5
ipython~=8.2.0
pillow~=9.1.0
shapely~=1.8.1.post1
moviepy~=1.0.3
kivy~=2.1.0
CairoSVG~=2.5.2
svgwrite~=1.4.2
svglib~=1.2.1
umap-learn~=0.5.2
jupyter
tqdm
